.github
.vscode
.prettierrc
.prettierignore
README.md
vite.config.ts
.eslintignore
.eslintrc.json
postcss.config.js
tailwind.config.js
tsconfig.json
README.md
src
docs
coverage
cypress.config.ts
package.json
package-lock.json
tsconfig.tsbuildinfo
commitlint.config.js
replace.cjs
.husky
tests